.users__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.users__card{
    width: 280px;
    padding: 20px;
    box-shadow: 0 0 8px #0002, 15px 15px 15px #0001;
    line-height: 1.6;
    border-radius: 10px;
}
.users__card img{
    width: 100%;
}
.users__card h2{
    color: dodgerblue;
}
.users__card button{
    padding: 6px 20px;
    background: crimson;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
}
.users__card button:active{
    opacity: .7;
}
#madal{
margin-left: 40px;
}

/* Users.css */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  